<section id="main">
    <div class="container fill1 table-center">
        <div class="heading"><h2>Front End Developer</h2></div>
        <div class="row ">
            <div class="col-md-4" >                           
                <div class="skillCategory">
                    circle here
                </div>
            </div>
            <div class="col-md-4" >                           
                <div class="skillCategory">
                    circle here
                </div>
            </div>
            <div class="col-md-4" >                           
                <div class="skillCategory">
                    circle here
                </div>
            </div>        
        </div>
        
        <div class="row content-border">
            <div class="col-md-4 center-content">                           
                <div class="">
                    <ul>
                        <li class="listStyleNone"><h2> My Skill Set:</h2></li>
                        <li class="listStyleNone"><h4> JavaScript</h4></li>
                        <li class="listStyleNone"><h4> Responsive Bootstrap, HTML, CSS</h4></li>
                        <li class="listStyleNone"><h4> JQuery, JQuery Mobile</h4></li>
                     </ul>
                </div>
            </div>
            <div class="col-md-4" >                           
                <div class="center-content">
                    <ul>
                        <li class="listStyleNone"><h4> AngularJS</h4></li>
                        <li class="listStyleNone"><h4> NodeJS + MongoDB</h4></li>
                     </ul>
                </div>
            </div>
            <div class="col-md-4" >                           
                <div class="center-content">
                    <ul>                      
                        <li class="listStyleNone"><h4> Java</h4></li>
                     </ul>
                </div>
            </div>
            
        </div>        
    </div>
</section>