<section id="main">
    <div class="container fill1 table-center"> 
        <div class="row table-cell">
            <div class="col-md-12" >                           
                <div class="center-content">
                    <ul>
                        <li class="listStyleNone content-border"><h1>Front End Developer</h1  ></li>
                        <li class="listStyleNone"></li>
                        <li class="listStyleNone"><h2> My Skill Set:</h2></li>
                        <li class="listStyleNone"><h4> JavaScript</h4></li>
                        <li class="listStyleNone"><h4> AngularJS</h4></li>
                        <li class="listStyleNone"><h4> Responsive Bootstrap, HTML, CSS</h4></li>
                        <li class="listStyleNone"><h4> NodeJS + MongoDB</h4></li>
                        <li class="listStyleNone"><h4> JQuery, JQuery Mobile</h4></li>
                        <li class="listStyleNone"><h4> Java</h4></li>
                     </ul>
                </div>
            </div>       
        </div>        
    </div>
</section>