<section id="main">
    <div class="container fill1 table-center">
        <div class="heading"><h2>Front End Developer</h2><h2> Skill Set:</h2></div>
        <div class="row">
            <div id="container3">
                <div id="container2">
                <div id="container1">
                  <div id="col1" class="col-md-4">
                    <div class="skillCategory">
                    <img class="img-responsive icon-custom" src="../public/images/wrench.png"></img>
                    </div>
                    <div class="center-content ">
                            <ul>                        
                                <li class="listStyleNone"><h4> JavaScript</h4></li>
                                <li class="listStyleNone"><h4> Responsive Bootstrap</h4></li>
                                <li class="listStyleNone"><h4> HTML, CSS</h4></li>
                                <li class="listStyleNone"><h4> JQuery, JQuery Mobile</h4></li>
                            </ul>
                    </div>                    
                  </div>                    
                  <div id="col2" class="col-md-4">
                      <div class="skillCategory">
                        <img class="img-responsive icon-custom" src="../public/images/wrench.png"></img>
                      </div>
                      <div class="center-content ">
                        <ul>                        
                            <li class="listStyleNone"><h4> AngularJS</h4></li>
                            <li class="listStyleNone"><h4> NodeJS + MongoDB</h4></li>
                        </ul>
                      </div>
                  </div>                
                  <div id="col3" class="col-md-4">
                      <div class="skillCategory">
                        <img class="img-responsive icon-custom" src="../public/images/wrench.png"></img>
                       </div>
                       <div class="center-content">
                         <ul>
                            <li class="listStyleNone"><h4>Java</h4></li>
                         </ul>
                        </div>                
                  </div>
            
                </div>
              </div>
            </div>

        </div>
    </div>
</section>