<section id="portfolio">
    <div class="container fill2 table-center">
        <div class="row table-cell">
            <div class="center-content"><h2>Portfolios</h2></div>
            <div class="col-md-4 pfBlock">
                <a href="../portfolios/pictureWall/pictureWall.html"></a><img class="img-responsive portfolio-img" src="../public/images/portfolio1.jpg"></img></a>
            </div>
            <div class="col-md-4 pfBlock">b
            </div>
            <div class="col-md-4 pfBlock">c
            </div>
            <div class="col-md-4 pfBlockLast">d 
            </div>
        </div>    
    </div>
</section>